/vendor/
/assets/*
/protected/runtime/*
/.idea/*
index.php
/protected/configs/*
*.phtml
*.ehtml
*.xhtml
/protected/data/
/themes/default/assets/images/*
/uploads/*
*.lock
.htaccess
ads.txt
google63f3a9765ab9525f.html
