{% extends "layout.html" %}
{% block pagetitle %}
Tambah Chord Baru - {{ App.params.site_name }}
{% endblock %}

{% block extended_css %}
<link rel="stylesheet" href="{{ 'lib/select2/select2.css' | admin_asset_url }}">
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="page_title">Tambah Postingan Chord Baru</h1>
                <p class="text-muted">Formulir penambahan postingan chord baru</p>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="navbar-nav pull-right" style="list-style-type: none;">
                    <li class="nav-item" itemprop="url">
                        <a href="{{ 'song/chords/view' | link }}" class="nav-link js-scroll-trigger btn btn-default" itemprop="name">
                            Daftar Chord Lagu
                        </a>
                    </li>
                    <li class="nav-item" itemprop="url">
                        <a href="{{ 'song/chords/scraping-task' | link }}" class="nav-link js-scroll-trigger btn btn-default" itemprop="name">
                            Daftar Scraping Task
                        </a>
                    </li>
                    <li class="nav-item" itemprop="url">
                        <a href="{{ 'song/chords/generate-song' | link }}" class="nav-link js-scroll-trigger btn btn-default" itemprop="name">
                            Generate Judul Lagu
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Kolom bertanda <span class="red">*</span> tidak boleh dikosongi
                        </div>
                        <div class="panel-body">
                            {% include 'songs/_form.html' with {'model':model} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/select2/select2.min.js' | admin_asset_url }}"></script>
<script src="{{ 'js/bootstrap-fileupload.min.js' | admin_asset_url }}"></script>
<script type="text/javascript" src="{{ 'lib/tinymce/tinymce.min.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    $(function(){
        tinymce.init({
            selector : '.editor',
            remove_linebreaks : false,
            gecko_spellcheck : false,
            keep_styles : true,
            accessibility_focus : true,
            tabfocus_elements : 'major-publishing-actions',
            media_strict : false,
            height: 400,
            plugins : 'code image imagetools paste codesample',
            menubar : false,
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | pastetext image code codesample',
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
            ],
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;

                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '{{ "song/chords/direct-upload" | link }}');

                xhr.onload = function() {
                    var json;

                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }

                    var json = $.parseJSON(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }

                    success(json.location);
                };

                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());

                xhr.send(formData);
            }
        });
        var success_message = "{{ message }}";
        if (success_message && success_message.length > 0) {
            setTimeout(function () {
                window.location.href = "{{ 'song/chords/update' | link }}/{{ song_id }}";
            }, 2000);
        }
        if($('.select2-basic').length) {
            $('.select2-basic').select2({
                allowClear: true,
                placeholder: "Pilih ..."
            });
        }
        $('.select-song').change(function () {
            var title = $(".select-song").find('option:selected').attr("attr-title");
            var artist_id = $(".select-song").find('option:selected').attr("attr-artist_id");
            var chord_url = $(".select-song").find('option:selected').attr("attr-chord_url");
            var chord_section = $(".select-song").find('option:selected').attr("attr-chord_section");
            var genre_id = $(".select-song").find('option:selected').attr("attr-genre_id");
            $('input[id="song-title"]').val(title);
            $('select[id="select-artist"]').val(artist_id).trigger("change");

            buildSlug(title);
            $('input[id="song-url"]').val(chord_url);
            $('input[id="refference-section"]').val(chord_section);
            if (parseInt(genre_id) > 0)
                $('select[id="song-genre"]').val(chord_section);
        });
    });
    function getSlug(data){
        var lang = $(data).attr('lang');
        buildSlug($(data).val());
    }
    function buildSlug(title) {
        $.ajax({
            'beforeSend': function() {  },
            'complete': function() {  },
            'url': "{{ 'song/chords/get-slug' | link }}",
            'type':'post',
            'data':{'title':title},
            'success': function(data) {
                $('#slug').attr('value',data);
            }
        });
    }
</script>
{% endblock %}